:root {
  --background-color: #F7DCB9;
  --menuScreen-background-color : #D1BB9E;
  --menuScreen-h1-textcolor : #31363F;
  --menuScreen-li-textcolor : #322C2B;
  --gameScreen-background-color: #C7B7A3;
  --gameToolBars-icon-background-color: #EEF7FF;
  --number-cell-background: #B4B4B8;
  --number-cell-textcolor: #0C0C0C;
  --empty-cell-background: #F8FAE5;
  --mine-cell-background: #A34343;
  --alert-background-color: #B99470;
  --alert-text-color: #322C2B;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

/**

-- Menu Screen Css

**/

#menuScreen {
  background-color: var(--menuScreen-background-color);
  width: 250px;
  height: 220px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#menuScreen h1 {
  font-family: Candara;
  display: flex;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  position: absolute;
  top: -60px;
  color: var(--menuScreen-li-textcolor);
  background-color: #AF8F6F;
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.1);
}

#menuScreen ul {
  list-style: none;
  width: 200px;
}

#menuScreen ul li {
  font-family: Candara;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
  color: var(--menuScreen-li-textcolor);
}

#menuScreen ul li:hover {
  border-top: 3px solid #C08B5C;
  border-bottom: 3px solid #C08B5C;
  font-weight: bolder;
  padding-left: 10px;
  cursor: pointer;
}

/**

-- Game Screen css

**/

#gameScreen {
  background-color: var(--gameScreen-background-color);
  border: 1px solid var(--gameScreen-background-color);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.1);
  display: none;
  position: relative;
  box-sizing: border-box;
}

#gameToolBars {
  height: 36px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-icon{
  box-sizing: border-box;
  background-color: var(--gameToolBars-icon-background-color);
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


#flagIcon {
  background-image: url('flag.svg');
  margin-right: 20px;
  margin-left: 10px;
}

#pointerIcon {
  background-image: url('pointer.svg');
}

#documentIcon {
  background-image: url('question.svg');
}

#exitIcon {
  background-image: url('exit.svg');
  margin-right: 10px;
  margin-left: 20px;
}

#timeCount {
  background-color: var(--gameToolBars-icon-background-color);
  flex-grow: 1;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.1);
}

.pointer-cursor {
  cursor: pointer;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  margin: 10px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.mine {
  background-image: url('bomb.svg');
  background-color: var(--mine-cell-background);
  cursor: default;
}

.flag-cursor {
  cursor: url('flag.svg'), auto;
}

.countCell {
  background-color: var(--number-cell-background);
  color: var(--number-cell-textcolor);
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  font-family: Verdana;
  cursor: default;
}

.emptyCell {
  background-color: var(--empty-cell-background);
  cursor: default;
}

.flagCell {
  width: 100%;
  height: 100%;
  background-image: url('flag.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.flagCell.mine {
  background-image: url('exit.svg');
}

/***/
#alert {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  background-color: var(--alert-background-color);
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top : -50px;
  box-sizing: border-box;
  display: none;
}

#alert button {
  width: 75px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  text-align: center;
  z-index: 1;
  font-family: Verdana;
}

#alert button:hover{
  color: white;
  background-color: black;
}

#alert div {
  position: relative;
  font-size: 15px;
  display: block;
  color: var(--alert-text-color);
  font-family: Verdana;
}

#alert #win {
  display: none;
}

#alert #defeat {
  display: none;
}